<div id="control" class="row p-3">
  <%= render 'left_sidebar' %>

  <div class="col-md-10 p-2 bg-white rounded shadow-sm">
    <div class="box-header with-border">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
      <%= hidden_field_tag :current_code, @current_code -%>
      <h5>Thông tin thiết bị</h5>
      <%= render 'device_info' %>
      <div class="config-device" v-if="!enable_set">
        <h5>Cấu hình</h5>
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#setting_relay" role="tab" data-toggle="tab">Setting Relay</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#setting_device" role="tab" data-toggle="tab">Setting Device</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#panel_setting" role="tab" data-toggle="tab">Panel Setting</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#dota" role="tab" data-toggle="tab">DOTA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#other_command" role="tab" data-toggle="tab">Others command</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <%= render 'a1_setting_relay' %>
          <%= render 'a2_setting_device' %>
          <%= render 'a3_panel_setting' %>
          <%= render 'a7_dota' %>
          <%= render 'a0_other_command' %>
        </div>
      </div>
    </div>
  </div>
</div>