<%= form_with(model: dotum, local: true) do |form| %>
  <% if dotum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dotum.errors.count, "error") %> prohibited this dotum from being saved:</h2>

      <ul>
      <% dotum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name_version %>
    <%= form.text_field :name_version %>
  </div>

  <div class="field">
    <%= form.label :action %>
    <%= form.number_field :action %>
  </div>

  <div class="field">
    <%= form.label :ip_address %>
    <%= form.text_field :ip_address %>
  </div>

  <div class="field">
    <%= form.label :port %>
    <%= form.number_field :port %>
  </div>

  <div class="field">
    <%= form.label :user %>
    <%= form.text_field :user %>
  </div>

  <div class="field">
    <%= form.label :pass %>
    <%= form.text_field :pass %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :path %>
    <%= form.text_field :path %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
