<p id="notice"><%= notice %></p>

<p>
  <strong>Name version:</strong>
  <%= @dotum.name_version %>
</p>

<p>
  <strong>Action:</strong>
  <%= @dotum.action %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @dotum.ip_address %>
</p>

<p>
  <strong>Port:</strong>
  <%= @dotum.port %>
</p>

<p>
  <strong>User:</strong>
  <%= @dotum.user %>
</p>

<p>
  <strong>Pass:</strong>
  <%= @dotum.pass %>
</p>

<p>
  <strong>Name:</strong>
  <%= @dotum.name %>
</p>

<p>
  <strong>Path:</strong>
  <%= @dotum.path %>
</p>

<%= link_to 'Edit', edit_dotum_path(@dotum) %> |
<%= link_to 'Back', dota_path %>
