<%= form_with(model: command, local: true) do |form| %>
  <% if command.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(command.errors.count, "error") %> prohibited this command from being saved:</h2>

      <ul>
      <% command.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label :action %>
    <%= form.number_field :action %>
  </div>

  <div class="field">
    <%= form.label :command %>
    <%= form.text_area :command %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
