<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tech Building</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/stylesheet_tags' %>
  </head>
  <body class="bg-light">

    <%= render 'layouts/header' %>

    <main role="main" class="wrapper">
      <%= (render 'layouts/notice', local: { notice: notice }) if notice %>
      <%= (render 'layouts/alert', local: { alert: alert }) if alert %>
      <%= yield %>
    </main>
    <!-- js lib -->
    <%= render 'layouts/javascript_tags' %>
  </body>
</html>